exportPattern("^[[:alpha:]]+")
import(ggplot2)
import(dplyr)
import(purrr)
import(tidyverse)
import(tm)
import(jsonlite)
import(stringr)
import(tidyr)
import(syuzhet)
import(quarto)
import(tidytext)
import(quanteda)
