exportPattern("^[[:alpha:]]+")
import(ggplot2)
import(dplyr)
import(tidyverse)
import(tm)
import(stringr)
import(tidyr)
import(syuzhet)
import(quarto)
import(tidytext)
import(jsonlite)
importFrom("stats", "chisq.test", "na.omit", "setNames")
importFrom("utils", "head", "read.csv", "read.delim", "write.csv")
